registry=https://vfs-818469940209.d.codeartifact.us-east-2.amazonaws.com/npm/vfs-payments-api/
//vfs-payments-818469940209.d.codeartifact.eu-west-1.amazonaws.com/npm/vfs-node-package-store/:always-auth=true
